!-------------------------------------------------------------------------------
! Cursor theme
!-------------------------------------------------------------------------------

Xcursor.size:				40
Xcursor.theme:					    

!-------------------------------------------------------------------------------
! URxvt
!-------------------------------------------------------------------------------

URxvt.keysym.Shift-Up:			command:\033]720;1\007
URxvt.keysym.Shift-Down:		command:\033]721;1\007

URxvt.keysym.Control-Up:		\033[1;5A
URxvt.keysym.Control-Down:		\033[1;5B
URxvt.keysym.Control-Right:		\033[1;5C
URxvt.keysym.Control-Left:		\033[1;5D

! Up Down Left Right with ALT-key
URxvt.keysym.M-k:			\033[A
URxvt.keysym.M-j:			\033[B
URxvt.keysym.M-l:			\033[C
URxvt.keysym.M-h:			\033[D

! Up Down Left Right whole word with ALT-key
URxvt.keysym.Control-M-k:		\033[1;5A
URxvt.keysym.Control-M-j:		\033[1;5B
URxvt.keysym.Control-M-l:		\033[1;5C
URxvt.keysym.Control-M-h:		\033[1;5D


! Copy Paste & Oher Extensions
URxvt.copyCommand:                  xclip -i -selection clipboard
URxvt.pasteCommand:                 xclip -o -selection clipboard
URxvt.keysym.Control-Meta-C:        builtin-string:
URxvt.keysym.Control-Meta-V:        builtin-string:
URxvt.keysym.Shift-Control-V:       eval:paste_clipboard
URxvt.keysym.Shift-Control-C:       eval:selection_to_clipboard

! True Clear Scrollback
URxvt.keysym.Shift-Control-M-L:     command:\033c
! ---

URxvt.font:                         xft:jetbrains mono:extrabold:pixelsize=15:antialias=true
URxvt.letterSpace:                  0
URxvt.lineSpace:                    0
URxvt.geometry:                     92x24
URxvt.internalBorder:               5
URxvt.externalBorder:               0
URxvt.borderColor:                  #202020
URxvt.cursorBlink:                  true
URxvt.cursorUnderline:              true
URxvt.saveline:                     2048
URxvt.scrollBar:                    false
URxvt.scrollBar_right:              false
URxvt.urgentOnBell:                 true
URxvt.depth:                        24
URxvt.iso14755:                     false



!-------------------------------------------------------------------------------
! Xft fonts
!-------------------------------------------------------------------------------
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1

!! Colorscheme
!
! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

